.modal-content {
  background-color: rgb(53, 53, 70);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  display: flex;
  text-align: justify;
  color: #ffffff;
  border: 1px solid #ffffff;
  height: 70vh;
  width: 40vw;
  padding: 10%;
}
.add_post {
  background-color: #5a67885d;
}
